.order {
    min-height: 426px;
    .container {
        width: 1002px;
    }
    &__wrapper {
        width: 1002px;
        margin: 114px 0 123px 0;
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 63px;
    }
    &__policy {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 12px;
        font-weight: 300;
        font-size: 12px;
        input {
            margin-right: 10px;
        }
    }
}