.promo {
    min-height: 650px;
    padding: 40px 0 83px 0;
    background: url(../img/main_bg.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
        // align-items: flex-start;
        margin-top: 90px;
    }
    &__header {
        font-size: 70px;
        color: $main-color;
        font-weight: 700;
        text-transform: uppercase;
        width: 480px;
        margin-top: 0;
    }
    &__subheader {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: $main-color;
        margin-top: 23px;
    }
    &__icons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1310px;
        height: 150px;
    }
    &__adv {
        width: 546px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__icon {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 300;
        color: $main-color;
        img {
            display: block;
            margin-right: 10px;
        }
    }
    &__circle {
        // width: 150px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__phone {
        right: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 26px;
        width: 113px;
        height: 113px;
        background-color: rgba(61, 155, 233, 0.8);
        border-radius: 100%;
    }
}